### bun ###
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.test

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log

package-lock.json
**/*.bun

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.vscode/*
!.vscode/extensions.json
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*